@CHARSET "UTF-8";

section {
	margin:20px 0 0 10px;
}

.load {
  width: 65%;
}

.recommendation {
  width: 85%;
}

.newResults {
  display: none;
  color: red;
}

.load-results {
  display: none;
  color: red;
}

.summary-results{
  display:none;
}

.kbase-about {
  display: none;
}

.auth-results {
  display: none;
  color: red;
}

